#first img{
    max-width: 100%;
    width: 100%;
    opacity:0.9;
}



#intro h2{
    margin-top: 100px;
    margin-bottom: 50px;
}

#second img{
    width: 200px;
    max-width: 100%;
    
}

#second{
    margin-top: 50px;
    padding: 50px;
    background: rgba(191, 191, 191, 0.3);
}

#second h5{
    margin-top: 60px;
    margin-bottom: 40px;
}

#third img{
    max-width: 100%;
}


#third{
    margin: 50px;
}

#third h3{
    margin:50px;
}
#third img{
    opacity: 0.7;
}